[data-slot="collapsible-content"] {
    overflow: hidden;
}

[data-slot="collapsible-content"][data-state="open"] {
    animation: collapsible-down 200ms ease-out;
}

[data-slot="collapsible-content"][data-state="closed"] {
    animation: collapsible-up 200ms ease-out;
}

@keyframes collapsible-down {
    from {
        height: 0;
    }

    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes collapsible-up {
    from {
        height: var(--radix-collapsible-content-height);
    }

    to {
        height: 0;
    }
}